@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ad1\/Downloads\/Workspace\/Chat\/scss\/_wall\.scss}line{font-family:\000031}}
.container {
  width: 1200px;
  height: 100%;
  border: 1px solid #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ad1\/Downloads\/Workspace\/Chat\/scss\/_wall\.scss}line{font-family:\000036}}
  .container .header h1 {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ad1\/Downloads\/Workspace\/Chat\/scss\/_wall\.scss}line{font-family:\0000310}}
  .container .list {
    position: relative;
    display: inline-block;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ad1\/Downloads\/Workspace\/Chat\/scss\/_wall\.scss}line{font-family:\0000316}}
  .container .comment h4 {
    font-family: 'Roboto', sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ad1\/Downloads\/Workspace\/Chat\/scss\/_wall\.scss}line{font-family:\0000319}}
  .container .comment form {
    margin: 20px 0 20px 0; }
