.container {
    width:  1200px;
    height: 100%;
    border: 1px solid #000;
    .header {
        h1 {
            text-align: right;
            }
    }
    .list {
        position: relative;
        display: inline-block;
        width: 100%;
    }
        .comment {
            h4 {
                font-family:'Roboto', sans-serif;
            }
            form {
                margin: 20px 0 20px 0;
            }
    }
}